.element__vector_active {
    background-image: url(../../../../images/likeactive.png);
    min-width: 20px;
    height: 18px;
    margin: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.element__vector_active:hover {
    opacity: 1;
}