.profile__info {
  margin: 22px 0 auto 30px;
  max-width: 570px;
}

@media screen and (max-width: 917px) {
  .profile__info {
    max-width: 282px;
  }
}

@media screen and (max-width: 618px) {
  .profile__info {
    margin: 0;
  }
}