.register__form {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: auto;
}

@media screen and (max-width: 618px) {
    .register__form {
        max-width: 260px;
    }
}