.register__button {
    margin: 216px auto 15px auto;
    min-width: 358px;
    background-color: #FFFFFF;
    border-radius: 2px;
    min-height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
    border: none;
}

.register__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 618px) {
    .register__button {
        min-width: 260px;
        min-height: 46px;
        margin: 173px auto 20px auto;
    }
}