.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px auto 36px auto;
  min-width: 358px;
  background-color: #000000;
  border-radius: 2px;
  min-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: pointer;
}

.form__submit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 618px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
    min-width: 238px;
  }
}