.register__form-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 27px;
    background-color: #000000;
}

.register__form-text:last-of-type{
    margin-bottom: 0;
}