.register__welcome {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 50px;
}

@media screen and (max-width: 618px) {
    .register__welcome {
        font-size: 20px;
        line-height: 24px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}