.profile__info-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 8px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 618px) {
  .profile__info-text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 7px 0 0 0;
  }
}