.header {
  display: flex;
  max-width: 880px;
  margin: auto;
  padding-top: 45px;
  overflow: hidden;
  border-bottom: 1px solid #545454;
  justify-content: space-between;
}

@media screen and (max-width: 917px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 618px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
  }
}